Label {
	color: black;
	font-weight: bold;
}

Group {
	font-weight: bold;
}

SashForm {
	background-color: #c1d5ef;
}
/* background uses a gradient */
/* .MTrimBar {
	background-color: #e3efff #c1d5ef;
	color: black;
	font: Verdana 8px;
} */
Shell {
	background-color: #e3efff;
	/*background-color: #e3efff #c1d5ef 60%;*/
	/* background-color: white; */
}

Text {
	background-color: white;
}

ScrolledComposite {
	background-color: #e3efff;
}

.DialogComposite {
	background-color: #e3efff;
}
.ImageLabel {
	font: Verdana 40px;
	font-weight: bold;
	vertical-align: middle;
	background-color: white;
}
.WelcomeTextLabel {
	font: Verdana 20px;
	font-weight: bold;
	vertical-align: middle;
	background-color: white;
}
.InfoDefaultTextLabel {
	font: Verdana 10px;
	font-weight: bold;
	vertical-align: middle;
	background-color: white;
}

#HistoryRadioButton {
	font: "Arabic Transparent" 10px;
	font-weight: bold;
}

#MessageLabel {
	color: #DC143C;
	font-style: italic;
	font-weight: bold;
}